# Exploratory data analysis

In [73]:
# Import libraries
import pandas as pd
import numpy as np

In [74]:
data  = pd.read_csv('data/D1.csv', low_memory=False)

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50031 entries, 0 to 50030
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              50031 non-null  int64
 1   patient_nbr               50031 non-null  int64
 2   race                      50031 non-null  object
 3   gender                    50031 non-null  object
 4   age                       50031 non-null  object
 5   weight                    50031 non-null  object
 6   admission_type_id         50031 non-null  int64
 7   discharge_disposition_id  50031 non-null  int64
 8   admission_source_id       50031 non-null  int64
 9   length_of_stay            50031 non-null  int64
 10  payer_code                50031 non-null  object
 11  medical_specialty         50031 non-null  object
 12  num_lab_procedures        50031 non-null  int64
 13  num_procedures            50031 non-null  int64
 14  num_medications           50031 non-null  int64
 15  number_outpatient         50031 non-null  object
 16  number_emergency          50031 non-null  object
 17  number_inpatient          50031 non-null  object
 18  diag_1                    50031 non-null  object
 19  diag_2                    50031 non-null  object
 20  diag_3                    50031 non-null  object
 21  number_diagnoses          50031 non-null  int64
 22  diabetes                  50031 non-null  object
 23  max_glu_serum             4639 non-null   object
 24  A1Cresult                 7613 non-null   object
 25  metformin                 50031 non-null  object
 26  repaglinide               50031 non-null  object
 27  nateglinide               50031 non-null  object
 28  chlorpropamide            50031 non-null  object
 29  glimepiride               50031 non-null  object
 30  acetohexamide             50031 non-null  object
 31  glipizide                 50031 non-null  object
 32  glyburide                 50031 non-null  object
 33  tolbutamide               50031 non-null  object
 34  insulin                   50031 non-null  object
 35  change                    50031 non-null  object
 36  diabetesMed               50031 non-null  object
 37  readmitted                50031 non-null  object
 38  single_day_admission      50031 non-null  object
dtypes: int64(10), object(29)
memory usage: 14.9+ MB

In [76]:
def value_counts(df):
    """
    Count the occurrences of each unique value in the object columns of a DataFrame.
    Present proportions of each unique value.

    :param df: A pandas DataFrame object.
    :return: None
    """
    for column in df.columns:
        if df[column].dtype == 'object':
            print(df[column].value_counts(normalize=True))
            print('-' * 50)

In [77]:
value_counts(data)

race
Caucasian          0.714197
AfricanAmerican    0.222842
?                  0.025124
Hispanic           0.020387
Other              0.012192
Asian              0.005257
Name: proportion, dtype: float64
--------------------------------------------------
gender
Female             0.539665
Male               0.460315
Unknown/Invalid    0.000020
Name: proportion, dtype: float64
--------------------------------------------------
age
[70-80)     0.262018
[60-70)     0.217345
[50-60)     0.175391
[80-90)     0.150507
[40-50)     0.101217
[30-40)     0.041035
[90-100)    0.023545
[20-30)     0.016830
[10-20)     0.009354
[0-10)      0.002758
Name: proportion, dtype: float64
--------------------------------------------------
weight
?            0.962783
[75-100)     0.015870
[50-75)      0.010993
[100-125)    0.006316
[125-150)    0.001459
[25-50)      0.001359
[0-25)       0.000740
[150-175)    0.000340
[175-200)    0.000120
>200         0.000020
Name: proportion, dtype: float64
--------------------------------------------------
payer_code
?     0.652895
MC    0.187983
HM    0.031441
BC    0.029822
UN    0.025104
SP    0.023985
MD    0.019968
CP    0.014651
CM    0.004817
OG    0.003078
DM    0.002738
PO    0.001619
WC    0.000700
SI    0.000580
CH    0.000380
OT    0.000240
Name: proportion, dtype: float64
--------------------------------------------------
medical_specialty
?                                0.354880
InternalMedicine                 0.215606
Family/GeneralPractice           0.109812
Cardiology                       0.073674
Emergency/Trauma                 0.039076
                                   ...
SurgicalSpecialty                0.000020
Proctology                       0.000020
Psychiatry-Addictive             0.000020
Pediatrics-InfectiousDiseases    0.000020
Cardiology-Pediatric             0.000020
Name: proportion, Length: 68, dtype: float64
--------------------------------------------------
number_outpatient
0     0.888589
1     0.062501
2     0.021806
3     0.012732
4     0.006696
5     0.003538
6     0.001339
7     0.000620
8     0.000560
?     0.000400
9     0.000320
10    0.000240
11    0.000180
12    0.000100
13    0.000080
14    0.000080
16    0.000060
15    0.000040
20    0.000020
21    0.000020
35    0.000020
17    0.000020
29    0.000020
36    0.000020
Name: proportion, dtype: float64
--------------------------------------------------
number_emergency
0     0.923128
1     0.052547
2     0.012872
3     0.004637
4     0.002638
?     0.001379
5     0.000899
6     0.000540
7     0.000480
8     0.000320
9     0.000200
10    0.000160
11    0.000060
22    0.000040
25    0.000020
13    0.000020
42    0.000020
16    0.000020
28    0.000020
Name: proportion, dtype: float64
--------------------------------------------------
number_inpatient
0     0.684975
1     0.184386
2     0.068518
3     0.030141
4     0.014291
5     0.007136
6     0.004237
7     0.002419
8     0.001299
9     0.000859
10    0.000520
?     0.000300
11    0.000300
12    0.000220
13    0.000100
15    0.000080
14    0.000080
16    0.000080
17    0.000020
21    0.000020
18    0.000020
Name: proportion, dtype: float64
--------------------------------------------------
diag_1
414    0.076732
428    0.069377
786    0.045352
410    0.039735
486    0.033979
         ...
266    0.000020
703    0.000020
V60    0.000020
814    0.000020
61     0.000020
Name: proportion, Length: 639, dtype: float64
--------------------------------------------------
diag_2
428     0.069677
250     0.067698
276     0.062901
427     0.050009
401     0.040635
          ...
483     0.000020
658     0.000020
945     0.000020
906     0.000020
E881    0.000020
Name: proportion, Length: 635, dtype: float64
--------------------------------------------------
diag_3
250    0.124603
401    0.088545
428    0.044173
276    0.044133
427    0.038796
         ...
308    0.000020
735    0.000020
697    0.000020
341    0.000020
868    0.000020
Name: proportion, Length: 671, dtype: float64
--------------------------------------------------
diabetes
Yes    0.746917
No     0.253083
Name: proportion, dtype: float64
--------------------------------------------------
max_glu_serum
Norm    0.507868
>200    0.295969
>300    0.196163
Name: proportion, dtype: float64
--------------------------------------------------
A1Cresult
>8      0.572705
Norm    0.222251
>7      0.205044
Name: proportion, dtype: float64
--------------------------------------------------
metformin
No        0.818513
Steady    0.164378
Up        0.011433
Down      0.005676
Name: proportion, dtype: float64
--------------------------------------------------
repaglinide
No        0.988127
Steady    0.010434
Up        0.000959
Down      0.000480
Name: proportion, dtype: float64
--------------------------------------------------
nateglinide
No        0.994763
Steady    0.005077
Up        0.000100
Down      0.000060
Name: proportion, dtype: float64
--------------------------------------------------
chlorpropamide
No        0.998641
Steady    0.001219
Up        0.000100
Down      0.000020
?         0.000020
Name: proportion, dtype: float64
--------------------------------------------------
glimepiride
No        0.954948
Steady    0.039755
Up        0.003498
Down      0.001799
Name: proportion, dtype: float64
--------------------------------------------------
acetohexamide
No    1.0
Name: proportion, dtype: float64
--------------------------------------------------
glipizide
No        0.870860
Steady    0.113650
Up        0.009374
Down      0.006116
Name: proportion, dtype: float64
--------------------------------------------------
glyburide
No        0.876177
Steady    0.106294
Up        0.010533
Down      0.006996
Name: proportion, dtype: float64
--------------------------------------------------
tolbutamide
No    1.0
Name: proportion, dtype: float64
--------------------------------------------------
insulin
No        0.514761
Steady    0.319642
Down      0.091683
Up        0.073914
Name: proportion, dtype: float64
--------------------------------------------------
change
No    0.593012
Ch    0.406988
Name: proportion, dtype: float64
--------------------------------------------------
diabetesMed
Yes    0.747577
No     0.252423
Name: proportion, dtype: float64
--------------------------------------------------
readmitted
NO     0.538486
>30    0.346605
<30    0.114909
Name: proportion, dtype: float64
--------------------------------------------------
single_day_admission
No     0.866283
Yes    0.133717
Name: proportion, dtype: float64
--------------------------------------------------

In [81]:
def replace_question_mark(df, columns):
    """
    Replace '?' values in the specified columns of a DataFrame with NaN, and convert the columns to numeric.

    :param df: A pandas DataFrame object.
    :param columns: A list of column names.
    :return: None
    """
    for column in columns:
        df[column] = df[column].replace('?', np.nan)
        df[column] = pd.to_numeric(df[column], errors='coerce')

In [82]:
replace_question_mark(data, ['number_outpatient', 'number_inpatient', 'number_emergency'])

In [83]:
data[['number_outpatient', 'number_inpatient', 'number_emergency']]

       number_outpatient  number_inpatient  number_emergency
0                    0.0               0.0               0.0
1                    0.0               0.0               0.0
2                    0.0               0.0               0.0
3                    0.0               0.0               0.0
4                    0.0               0.0               0.0
...                  ...               ...               ...
50026                0.0               0.0               0.0
50027                1.0               0.0               0.0
50028                0.0               0.0               0.0
50029                0.0               0.0               0.0
50030                2.0               0.0               0.0

[50031 rows x 3 columns]

In [84]:
data['number_inpatient'].value_counts(normalize=True)

number_inpatient
0.0     0.685181
1.0     0.184441
2.0     0.068538
3.0     0.030150
4.0     0.014295
5.0     0.007138
6.0     0.004239
7.0     0.002419
8.0     0.001300
9.0     0.000860
10.0    0.000520
11.0    0.000300
12.0    0.000220
13.0    0.000100
16.0    0.000080
15.0    0.000080
14.0    0.000080
17.0    0.000020
21.0    0.000020
18.0    0.000020
Name: proportion, dtype: float64

In [85]:
data['number_outpatient'].value_counts(normalize=True)

number_outpatient
0.0     0.888944
1.0     0.062526
2.0     0.021815
3.0     0.012737
4.0     0.006699
5.0     0.003539
6.0     0.001340
7.0     0.000620
8.0     0.000560
9.0     0.000320
10.0    0.000240
11.0    0.000180
12.0    0.000100
13.0    0.000080
14.0    0.000080
16.0    0.000060
15.0    0.000040
20.0    0.000020
21.0    0.000020
35.0    0.000020
17.0    0.000020
29.0    0.000020
36.0    0.000020
Name: proportion, dtype: float64

In [86]:
data['number_emergency'].value_counts(normalize=True)

number_emergency
0.0     0.924403
1.0     0.052620
2.0     0.012890
3.0     0.004644
4.0     0.002642
5.0     0.000901
6.0     0.000540
7.0     0.000480
8.0     0.000320
9.0     0.000200
10.0    0.000160
11.0    0.000060
22.0    0.000040
25.0    0.000020
13.0    0.000020
42.0    0.000020
16.0    0.000020
28.0    0.000020
Name: proportion, dtype: float64

In [71]:
data['weight'].value_counts(normalize=True)

weight
?            0.962783
[75-100)     0.015870
[50-75)      0.010993
[100-125)    0.006316
[125-150)    0.001459
[25-50)      0.001359
[0-25)       0.000740
[150-175)    0.000340
[175-200)    0.000120
>200         0.000020
Name: proportion, dtype: float64

## Comments about the data types

- The `id` columns are integers, which is fine.
- The `race` and `gender` look fine, just some missing values. We should convert them to categorical data type.
- The `age` column is a string based on the formatting of the intervals. We should convert it to an interval data type.
- The `weight` column has 97% missing values. I suggest drop this column.
- The `payer_code` column has 40% missing values. We should discuss if it is necessary to keep this column. We might be able to assume that the emply payer code means that the patient does not have insurance. If not, I suggest drop this column.
- 
-

## Comments about the goal of the data mining

This looks like a 'length of stay' prediction problem. The goal is to predict the length of stay of a patient in the hospital. The `length_of_stay` column is the target variable. It has no missing values and the data are in a manageable range. We should convert this column to a numeric data type. 

The `readmitted` column could be secondary target variable. It is a categorical variable with three classes. We should convert this column to a categorical data type.

The `discharge_disposition_id` could also be used as a secondary target variable. It is a categorical variable with 26 classes. It might be worth reducing the number of classes to binary outcome variable (all cause mortality), or categorical variable with fewer classes (e.g. discharged home, discharged to another facility, died.).

We should discuss if we want to filter out the `admission_type_id` column. If we choose length of stay as the target variable, we might want to filter out the `admission_type_id` column to exclude newborns and electives. The same goes for `single_day_admission`. We might want to filter out the single day admissions.

In [ ]:
%%sql

In [61]:
data['length_of_stay'].value_counts(normalize=True)

length_of_stay
3     0.166677
2     0.164018
4     0.134497
1     0.133717
5     0.097220
6     0.076233
7     0.058764
8     0.047231
9     0.032060
10    0.026364
11    0.020947
12    0.016770
13    0.013252
14    0.012252
Name: proportion, dtype: float64

In [62]:
data['admission_type_id'].value_counts(normalize=True)

admission_type_id
1    0.484999
2    0.194180
3    0.167816
6    0.083628
5    0.066099
8    0.003098
4    0.000140
7    0.000040
Name: proportion, dtype: float64